<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.thx.efss.dao.mapper.ThxFileMapper">
	<resultMap type="ThxFile" id="ThxFileMap">
		<id property="id" column="id"/>
		<result property="originalFileName" column="original_file_name"/>
		<result property="storedFileName" column="stored_file_name"/>
		<result property="entryDate" column="entry_date"/>
	</resultMap>

	<resultMap type="ThxFileProperty" id="ThxFilePropertyMap">
		<result property="fileId" column="file_id"/>
		<result property="propertyKey" column="property_key"/>
		<result property="propertyValue" column="property_value"/>
		<result property="entryDate" column="entry_date"/>
	</resultMap>

    <sql id="columnsAll">
		original_file_name,
		stored_file_name,
		entry_date
    </sql>
    
    <sql id="valuesAll">
		#{originalFileName},
		#{storedFileName},
		 UTC_TIMESTAMP()
    </sql>
	
	<insert id="insertFile" parameterType="ThxFile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO thx_file
        (
            <include refid="columnsAll"/>
        )
        VALUES
        (
            <include refid="valuesAll"/>
        )	
	</insert>

	<insert id="insertFileProperty" parameterType="ThxFileProperty">
        INSERT INTO thx_file_property
        (
            file_id,
            property_key,
            property_value,
            entry_date
        )
        VALUES
        (
        	#{fileId},
        	#{propertyKey},
        	#{propertyValue},
        	UTC_TIMESTAMP()
        )	
	</insert>
	
	<select id="selectFileList" parameterType="hashmap" resultMap="ThxFileMap">	  		
		SELECT 
			id,
			<include refid="columnsAll"/>
		FROM
			thx_file
		<where>
			<if test="id != null">
			id = #{id}
			</if>
			<if test="storedFileName != null">
			stored_file_name = #{storedFileName}
			</if>
		</where>	
	</select>
	
	<select id="selectFileProperty" resultMap="ThxFilePropertyMap">	  		
		SELECT 
			file_id,
			property_key,
			property_value,
			entry_date
		FROM
			thx_file_property
		<where>
			file_id = #{fileId}
		</where>	
	</select>
	
	<delete id="deleteFile">
		DELETE FROM 
			thx_file
		WHERE
			id = #{fileId}	
	</delete>

	<delete id="deleteFileProperty">
		DELETE FROM 
			thx_file_property
		WHERE
			file_id = #{fileId}
	</delete>
	
</mapper>    
